@import "tailwindcss/preflight";
@tailwind utilities;

/* Custom colors for tu tema */
:root {
  --bg-body: #f9f8f6;
  --bg-card: #ffffff;
  --text-main: #222222;
  --text-light: #555555;
  --border-color: #e0e0e0;
  --code-bg: #f1f1f1;
  --code-text: #2d2d2d;
  --accent-black: #111111;
}
